[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
flake8 = "*"
autopep8 = "*"
tox = "*"
notebook = "*"
sphinx-rtd-theme = "*"
bandit = "*"

[packages]
numpy = "*"
pystog = {path = "."}

[requires]
python_version = "3.6"
