[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
flake8 = "*"
autopep8 = "*"
tox = "*"
tox-pipenv = "*"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "== 0.24.2"
six = "*"
pystog = {editable = true,path = "."}
tox-pipenv = "*"

[requires]
python_version = "3.6"
