alabaster
Babel
certifi
chardet
cycler
docutils
idna
imagesize
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pygments
pyparsing
python-dateutil
pytz
requests
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
urllib3
